img{
    max-width: 100%;
}



:root{
    --main-blue: #2E64E6;
    --orange-btn:#CD3D0F;
    --bg-black: #1F1F1F;
    --bg-gray: #BEBCBB;
    --bg-light-gray: #D8DADC;
    --bg-dark-blue: #161C3A;
    --main-txt-color : #fff;
    --secondary-txt-color: #7C7C7C;



}

/* utils */

.bg-black{
    background-color: var(--bg-black);
}
.bg-blu{
    background-color: var(--main-blue);
}
.bg-gray{
    background-color: var(--bg-gray);
}
.bg-light-gray{
    background-color: var(--bg-light-gray);
}
.bg-dark-blu{
    background-color: var(--bg-dark-blue);
}
.txt-black{
    color: #000;
}
.txt-white{
    color: #fff;
}
.txt-blu{
    color: var(--main-blue);
}
.txt-gray{
    color: var(--secondary-txt-color);
}

/* general */
.sony-logo{
    height: 30px;
}

.bg-orange{
    background-color: var(--orange-btn);
}


/* header */
header{
    position: sticky;
    top: 0%;
    left: 0%;
    right: 0%;
}

.navbar-nav li a{
    display:flex;
    align-items: center;
}

.arrow-down{
    font-size: 10px;
}


.right-navbar a {

    text-decoration: none;
    color: #fff;
}

/* jumbotron */

#jumbotron{
    width: 100%;
    height: 600px;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#jumbotron h2{
    font-size: 30px;
}

/* games section */
#games img{
    max-width: 100%;
}


/* .accessories img{
filter: opacity(.1);
} */

#banner{
    height: 600px;
    width: 100%;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

sup{
    font-size: 10px;
}

/* PS4 */

.registered{
    height: 15px;
    width: 15px;
    display: inline-block;
    
    border: 1px solid #000;
    line-height: 12px;
    vertical-align: middle;
}