:root{
    --primary-blue: #2E64E6;
    --orange-btn:#CD3D0F;
    --bg-black: #1F1F1F;
    --bg-gray: #BEBCBB;
    --bg-light-gray: #D8DADC;
    --bg-dark-blue: #161C3A;
    --main-txt-color : #fff;
    --secondary-txt-color: #7C7C7C;



}

/* utils */

.bg-black{
    background-color: var(--bg-black);
}
.txt-black{
    color: #000;
}
.txt-white{
    color: #fff;
}

/* general */
.sony-logo{
    height: 30px;
}

.bg-orange{
    background-color: var(--orange-btn);
}

.info-btn{

}

/* header */
header{
    position: sticky;
    top: 0%;
    left: 0%;
    right: 0%;
}

.navbar-nav li a{
    display:flex;
    align-items: center;
}

.arrow-down{
    font-size: 10px;
}


.right-navbar a {

    text-decoration: none;
    color: #fff;
}

/* jumbotron */

#jumbotron{
    width: 100%;
    height: 600px;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#jumbotron img{
    width: 100%;
}

#jumbotron h2{
    font-size: 30px;
}

/* games section */
#games img{
    max-width: 100%;
}