                
:root{
    --main-blue: #2E64E6;
    --orange-btn:#CD3D0F;
    --bg-black: #1F1F1F;
    --bg-gray: #BEBCBB;
    --bg-light-gray: #D8DADC;
    --bg-dark-blue: #161C3A;
    --main-txt-color : #fff;
    --secondary-txt-color: #7C7C7C;



}

/* //UTILITIES */

.bg-black{
    background-color: var(--bg-black);
}
.bg-blu{
    background-color: var(--main-blue);
}
.bg-gray{
    background-color: var(--bg-gray);
}
.bg-light-gray{
    background-color: var(--bg-light-gray);
}
.bg-dark-blu{
    background-color: var(--bg-dark-blue);
}
.txt-black{
    color: #000;
}
.txt-white{
    color: #fff;
}
.txt-blu{
    color: var(--main-blue);
}
.txt-gray{
    color: var(--secondary-txt-color);
}



/*// GENERAL */
body{
    scroll-behavior: smooth;
}
img{
    max-width: 100%;
}  

.sony-logo{
    height: 30px;
}

.bg-orange{
    background-color: var(--orange-btn);
}

li{
    list-style-type: none;
}
a{
    text-decoration: none;
}

.my-active{
    border-bottom: 2px solid var(--main-blue);
}
.border-white{
    border:2px solid #fff
}
.outline{
    box-shadow: 0px 0px 0px 3px  var(--main-blue);
}
/* HEADER */
header{
    position: sticky;
    top: 0%;
    left: 0%;
    right: 0%;
    z-index: 1;
}

.navbar-nav li a{
    display:flex;
    align-items: center;
}

.arrow-down{
    font-size: 10px;
}


.right-navbar a {

    text-decoration: none;
    color: #fff;
}

/* MAIN JUMBOTRON */

#jumbotron{
    width: 100%;
    height: 600px;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#jumbotron h2{
    font-size: 30px;
}

/* GAMES SECTION */

#games img{
    max-width: 100%;
}

/* ACCESORIES SECTION */

.accessories img{
filter: opacity(.5);
}


/* SECONDARY JUMBOTRON(BANNER) */

#banner{
    height: 600px;
    width: 100%;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

sup{
    font-size: 10px;
}

/* PS4 SECTION */

.registered{
    height: 15px;
    width: 15px;
    display: inline-block;
    
    border: 1px solid #000;
    line-height: 12px;
    vertical-align: middle;
}


/* FOOTER SECTION */

.language-globe{
    height: 25px;
    display: inline-block;
}

.ps-logo{
    height: 100px;
    color: #fff;
}

.copyright{
    color: #fff;
    text-decoration: underline;
}

.sie-logo{
    height: 50px;
}


/* #EFFECTS */



#games [class^="col"]:hover img  {
   
    cursor: pointer;
    
    transform: translateY(-10px);
   
}

.accessories  img:hover  { 

    cursor: pointer;

    filter: opacity(1);
    
    box-shadow: inset 0px -2px 0px 0px var(--main-blue);
   
}

.shadow-black:hover{
    color:  #fff;
    background-color: var(--orange-btn);

    box-shadow:inset 0px 0px 0px 2px  #000;
    border-color: transparent;
}

.shadow-white:hover{
    color:  #fff;

    box-shadow:inset 0px 0px 0px 2px  #fff;
    border-color: transparent;
}

.shadow-white-info:hover{
    color:  #fff;
    background-color: var(--main-blue);

    box-shadow:inset 0px 0px 0px 2px  #fff;
    border-color: transparent;
}

.shadow-blue:hover{
    color:  #000;
    background-color: #fff;

    box-shadow:inset 0px 0px 0px 2px  var(--bg-dark-blue);
    border-color: transparent;
}

